.searchResult {
    display: flex;
    position: relative;
    margin: 20px 75px;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.searchResult:hover {
    opacity: 0.8;
}

.searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid lightgray;
}

.searchResult__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.searchResult__heart {
    position: absolute;
    top: 20px;
    right: 40px;
    color: black;
}

.searchResult__infoTop {
    width: 40vw;
}

.searchResult__infoTop > h4 {
    font-weight: 300;
    margin-top: 10px;
    color: black !important;
}

.searchResult__infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
    color: black;
}
  
.searchResult__infoBottom {
    display: flex;
    justify-content: space-between;
}


.searchResult__star {
    color: rgb(255, 56, 92);
    font-size: 20px !important;
}

.searchResult__stars {
    display: flex;
}

.searchResult__stars > p{
    color: black;
}

.searchResults__price {
    position: absolute;
    bottom: 20px;
    right: 30px;
    color: black;
}

.line{
    width: 50px;
    border-bottom: 1px solid lightgray;
}